#main {
    position: fixed;
    top: 120px;
    width: 70%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#context {
    margin-top: 50px;
    font-size: 18px;
    color: #333;
    width: 100%;
}